.toggleButton{
    width: 60px;
    height: 28px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background: var(--toggleButtonColor);
}

.circle{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.2s linear;
    cursor: pointer;
}

.icon{
    color: var(--iconColor);
    margin-top: 6px;
    font-size: 24px;
}

.input:checked ~ .circle{
    transform: translateX(-28px);
    -webkit-transform: translateX(-28px);
    -ms-transform: translateX(-28px);
}

.input:checked ~ .icon{
    transform: translateX(28px);
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
}

.input{
    height: 0;
    width: 0;
    opacity: 0;
}